.style1{
    background-image: url('pictures/1328123655_699.jpg');
}
.style2{
	background-color: #C0C0C0;
}
.style3{
	font-size: small;
}
.style4{
	font-size: small;
	color: #FFFF00;
	background-color: #000000;
}
.style5{
	font-size: small;
	color: #FFFF00;
	text-align: left;
}
.style6{
	font-size: large;
	color: #FFFF00;
	background-color: #000000;
}
.style7{
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
}
.style8{
	color: #FFFFFF;
	font-size: large;
}
.style9{
	color: #FFFF00;
	font-size: large;
}
.style10{
	margin-right: 0px;
}
.style11{
	text-align: left;
}
.style12{
	text-decoration: none;
}
.style13{
	font-size: medium;
}
.style14{
	font-size: large;
        background-color: #000000;
}
.style15{
	background-color: #C0C0C0;
	font-size: large;
	color: #000000;
}
.style16{
	border-collapse: collapse;
        background-color: #000000;
}
.style17{
	color: #FFFF00;
}
.style18{
	font-size: medium;
	text-align: right;
}